//
//  Production-Secrets.xcconfig
//  ArtemPoluyanovichTechTask
//
//  Created by Artiom Poluyanovich on 14/11/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// API Configuration
API_KEY = add_prod_api_key
API_BASE_URL = add_prod_base_url
